{extend name="../application/admin/view/common/base.html" /}

{block name="lead_css"}
{load file="__admin__/js/modernizr.min.js"}
{load file="__admin__/plugins/jquery-multi-select/multi-select.css"}
{load file="__admin__/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"}
{load file="__admin__/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css"}
{load file="__admin__/plugins/webuploader/webuploader.css"}
{/block}

{block name="content"}
<style>
    .wu-example {
        display: inline-block;
    }

    .remove-option-item {
        width: 20px;
        height: 20px;
        color: #ff4550;
        font-size: 18px;
        position: absolute;
        top: 40%;
        right: 28%;
        cursor: pointer;
    }
</style>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <h4 id="voteTitle" class="pull-left page-title">发布投票活动</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-10">
                    <form class="form-horizontal" role="form" id="voteForm">
                        <div class="panel panel-default">
                            <!-- 主体内容 -->
                            <div class="panel-heading">
                                <h3 class="panel-title">活动简介</h3>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">活动名称</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="voteName" value="" placeholder="后台管理、用户可见">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">活动描述</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" name="voteDescription" rows="5"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">开始时间</label>
                                    <div class="col-md-2">
                                        <input type="text" autocomplete="off" class="form-control form_datetime" name="startTime" value="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">结束时间</label>
                                    <div class="col-md-2">
                                        <input type="text" autocomplete="off" class="form-control form_datetime" name="stopTime" value="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">投票规则</label>
                                    <div class="col-md-10">
                                        <div class="radio radio-info radio-inline">
                                            <input type="radio" id="inlineRadio1" value="single" name="voteRule" checked="checked">
                                            <label for="inlineRadio1"> 单选 </label>
                                        </div>
                                        <div class="radio radio-inline">
                                            <input type="radio" id="inlineRadio2" value="multi" name="voteRule">
                                            <label for="inlineRadio2"> 多选 </label>
                                        </div>
                                        <div class="radio radio-inline" >
                                            最多选择
                                            <input disabled class="form-control" style="width: 50px;display: inline" type="text" value="" name="maxSelectNum">
                                            项
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- panel-body -->

                            <!-- 选项内容 -->
                            <div class="panel-heading">
                                <h3 class="panel-title">选项内容</h3>
                            </div>
                            <div class="panel-body">
                                <div id="optionsDiv">

                                </div>
                                <button id="addOptionBtn" type="button" class="btn btn-primary waves-effect waves-light m-b-5">增加选项</button>
                                <!--上传图片建议尺寸：300像素*300像素，其他尺寸会影响页面效果，格式png、jpeg、jpg，大小不超过1M-->

                            </div> <!-- panel-body -->

                            <!-- 提交内容 -->
                            <div class="panel-heading">
                                <h3 class="panel-title">提交内容（选填）</h3>
                            </div>
                            <div class="panel-body">
                                <div id="subConDiv">

                                </div>
                                <button id="addSubConBtn" type="button" class="btn btn-primary waves-effect waves-light m-b-5">增加内容项</button>
                                <!--上传图片建议尺寸：300像素*300像素，其他尺寸会影响页面效果，格式png、jpeg、jpg，大小不超过1M-->

                            </div> <!-- panel-body -->

                            <input type="hidden" name="optionCount" value="">
                            <input type="hidden" name="subConCount" value="">
                            <input type="hidden" name="voteStatus" value="">
                            <input type="hidden" name="mode" value="{$MODE}">
                            <input type="hidden" name="voteid" value="{$VOTEID}">
                            <!-- 底部按钮 -->
                            <div class="panel-body text-center col-md-10">
                                <button id="saveBtn" onclick="submitForm('preparing')" type="button" class="btn btn-default waves-effect m-b-5 m-r-10">保存草稿</button>
                                <button id="publishBtn" onclick="submitForm('progressing')" type="button" class="btn btn-info waves-effect m-b-5 m-l-10">发布投票</button>
                            </div> <!-- panel-body -->
                        </div> <!-- panel -->

                    </form>
                </div> <!-- col -->
            </div>

        </div> <!-- container -->

    </div> <!-- content -->

</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
{/block}

{block name="lead_js"}
{load file="__admin__/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"}
{load file="__admin__/plugins/jquery-datatables-editable/jquery.dataTables.js"}
{load file="__admin__/plugins/datatables/dataTables.bootstrap.js"}
{load file="__admin__/pages/datatables.editable.init.js"}
{load file="__admin__/plugins/jquery-multi-select/jquery.multi-select.js"}
{load file="__admin__/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"}

{load file="__admin__/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"}
{load file="__admin__/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.zh-CN.js"}

{load file="__admin__/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"}
{load file="__admin__/plugins/webuploader/webuploader.js"}

<script>
    var uploadPick = '';
    var optionIndex = 0;
    var subConIndex = 0;
    var voteId = $('input[name="voteid"]').val();
    var mode = $('input[name="mode"]').val();

    $(function () {
        $('.picker').on('click', function () {
            uploadPick = $(this);
        });

        $('#addOptionBtn').on('click', function () {
            addOption();
        });
        
        $('#addSubConBtn').on('click', function () {
            addSubCon();
        });

        pageInit();
    });

    function pageInit() {
        //新增页面，默认增加一条空选项
        if (mode === 'create') $('#addOptionBtn').click();
        voteRuleInit();
        renderEditViewData();
    }

    $(".form_datetime").datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        autoclose: true,
        todayBtn: true,
        language: 'zh-CN'
    });

    //表单提交
    function submitForm(status) {
        $('input[name="optionCount"]').val(optionIndex);
        $('input[name="subConCount"]').val(subConIndex);
        $('input[name="voteStatus"]').val(status);

        $.ajax({
            type: 'POST',
            url: '/admin/vote/saveVote',
            data: form_serialize(document.getElementById('voteForm')),
            dateType: 'json',
            success: function (data) {
                if (data.code === 'SUCCESS') {
                    swal({
                        title: "保存成功",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确认",
                    }, function(){
                        window.location.href = '/admin/vote/voteList';
                    });
                }
            }
        });
    }

    //实例化上传文件方法
    function uploadInit(id) {
        var uploader = WebUploader.create({
            auto: true,
            swf: '__admin__/webuploader/Uploader.swf',
            server: 'fileUpload',
            pick: '#picker_' + id,
            chunked: false,           //是否切片
            // 不压缩image, 默认如果是jpeg，文件上传前会压缩一把再上传！
            resize: false,
            accept: {
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            }
        });
        var $list = $('#thelist_' + id);
        // 当有文件添加进来的时候
        uploader.on( 'fileQueued', function( file ) {

            // 创建缩略图
            uploader.makeThumb( file, function( error, src ) {
                fillImg($list, file.id, id, src);
                if ( error ) {
                    $($list).find('img').replaceWith('<span>不能预览</span>');
                    return;
                }

            }, 395, 200 );
        });

        uploader.on( 'uploadSuccess', function( file, response ) {
            if (response.code === 'SUCCESS' && response.name) {
                $('input[name="uploadImg_' + id + '"]').val(response.name);
                $('#picker_' + id).hide();
            } else {
                alert('上传失败');
            }
        });

        uploader.on( 'uploadComplete', function( file ) {
            uploader.removeFile(file);
        });

        // $('#removeImgBtn_' + id).on('click', '.remove_this', function (file) {
        //     alert(1)
        //     uploader.removeFile(file.id);
        // })
    }

    function fillImg(listObj, fileId, id, src) {
        var imgHtml = '';
        imgHtml += '<div id="' + fileId + '" class="file-item thumbnail">';
        imgHtml += '<img width="395px" height="200px" src="' + src + '">';
        imgHtml += '<div class="info">';
        imgHtml += '<a class="removeImgClass" onclick="removeImg(' + id + ')">删除</a>';
        imgHtml += '</div>';
        imgHtml += '</div>';

        $(listObj).append( imgHtml );
    }

    //新增元素绑定事件
    function elementInit(optionIndex) {
        $('input[name="optionBallot_'+optionIndex+'"]').change(function () {
            if ($(this).val() === 'limit') {
                $('input[name="maxBallot_' + optionIndex + '"]').prop('disabled', false);
            } else {
                $('input[name="maxBallot_' + optionIndex + '"]').prop('disabled', true);
            }
        })
    }

    function removeImg(id) {
        $('#thelist_' + id).empty();
        $('input[name="uploadImg_' + id + '"]').val('');
        $('#picker_' + id).show();
    }

    //增加选项
    function addOption() {
        optionIndex ++;
        $('#optionsDiv').append(getOptionHtml(optionIndex));
        resortOptionAsc();
        uploadInit(optionIndex);
        elementInit(optionIndex);
    }

    function removeOption(id) {
        if ($('.option-item').length <= 1) return false;
        $('#optionItem_' + id).remove();
        resortOptionAsc();
    }

    function removeSubCon(id) {
        $('#subConItem_' + id).remove();
    }

    //增加提交内容
    function addSubCon() {
        subConIndex ++;
        $('#subConDiv').append(getSubConHtml(subConIndex));
    }

    //获取新增选项内容html
    function getOptionHtml(id) {
        var html = '';
        html += '<div class="option-item" style="position: relative;" id="optionItem_' + id + '">';
        html += '<div onclick="removeOption(' + id + ')" class="remove-option-item md md-highlight-remove"><i class=""></i></div>';
        html += '<div class="form-group">';
        html += '<label class="col-md-2 control-label optionDesc">';
        html += '选项' + id;
        html += '</label>';
        html += '<div class="col-md-5">';
        html += '<input type="text" class="form-control" value="" name="optionName_' + id + '" placeholder="选项名称">';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-md-2 control-label">';
        html += '</label>';
        html += '<div class="col-md-5">';
        html += '<input type="text" class="form-control" value="" name="optionDescription_' + id + '" placeholder="选项描述">';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-md-2 control-label">';
        html += '</label>';
        html += '<div class="radio-inline">';
        html += '<label>票数限制</label>';
        html += '</div>';
        html += '<div class="radio radio-info radio-inline">';
        html += '<input type="radio" id="optionBallot_' + id + '_1" value="unlimited" name="optionBallot_' + id + '" checked="checked">';
        html += '<label for="optionBallot_' + id + '_1"> 无限制 </label>';
        html += '</div>';
        html += '<div class="radio radio-inline">';
        html += '<input type="radio" id="optionBallot_' + id + '_2" value="limit" name="optionBallot_' + id + '">';
        html += '<label for="optionBallot_' + id + '_2"> 限制 </label>';
        html += '</div>';
        html += '<div class="radio radio-inline" >';
        html += '最多得 <input disabled class="form-control" style="width: 50px;display: inline" type="text" value="" name="maxBallot_' + id + '"> 票';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-md-2 control-label">';
        html += '</label>';
        html += '<div id="uploader_' + id + '" class="wu-example">';
        html += '<input type="hidden" name="uploadImg_' + id + '">';
        html += '<div id="thelist_' + id + '" class="uploader-list"></div>';
        html += '<div class="btns">';
        html += '<div id="picker_' + id + '">选择文件</div>';
        html += '</div>';
        html += '</div>';
        html += '</div>';
        html += '<hr>';
        html += '</div>';

        return html;
    }

    //获取新增提交内容选项html
    function getSubConHtml(id) {
        var html = '';
        html += '<div class="subCon-item" style="position: relative" id="subConItem_' + id + '">';
        html += '<div onclick="removeSubCon(' + id + ')" class="remove-option-item md md-highlight-remove"><i class=""></i></div>';
        html += '<div class="form-group">';
        html += '<label class="col-md-2 control-label">内容名称</label>';
        html += '<div class="col-md-5">';
        html += '<input name="fieldLabel_' + id + '" type="text" class="form-control" value="">';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-md-2 control-label">';
        html += '是否必填';
        html += '</label>';
        html += '<div class="radio radio-info radio-inline">';
        html += '&nbsp;&nbsp;<input type="radio" id="isRequired_' + id + '_1" value="1" name="isRequired_' + id + '" checked="checked">';
        html += '<label for="isRequired_' + id + '_1"> 必填 </label>';
        html += '</div>';
        html += '<div class="radio radio-inline">';
        html += '<input type="radio" id="isRequired_' + id + '_2" value="0" name="isRequired_' + id + '">';
        html += '<label for="isRequired_' + id + '_2"> 选填 </label>';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group">';
        html += '<label class="col-sm-2 control-label">字段类型</label>';
        html += '<div class="col-sm-5">';
        html += '<select name="fieldType_' + id + '" class="form-control" onchange="changeSubConFieldType(' + id + ')">';
        html += '<option value="varchar">文本</option>';
        html += '<option value="datetime">时间</option>';
        html += '<option value="checkbox">复选框</option>';
        html += '<option value="select">下拉框</option>';
        html += '<option value="multiple">多选框</option>';
        html += '</select>';
        html += '</div>';
        html += '</div>';
        html += '<div class="form-group" id="pick_list_' + id + '" style="display: none;">';
        html += '<label class="col-md-2 control-label">选项值（每个选项通过换行区分）</label>';
        html += '<div class="col-md-5">';
        html += '<textarea name="pickVal_' + id + '" class="form-control" rows="5"></textarea>';
        html += '</div>';
        html += '</div>';
        html += '<hr>';
        html += '</div>';

        return html;
    }

    function changeSubConFieldType(id) {
        var type = $('select[name="fieldType_' + id + '"]').val();
        var pickListShow = 'none';

        if (type === 'select' || type === 'multiple') {
            pickListShow = 'block';
        }

        $('#pick_list_' + id).css('display', pickListShow);
    }

    //删除后可能导致编号错乱，这里重新排序
    function resortOptionAsc() {
        $('.optionDesc').each(function (index) {
            $(this).text('选项' + (index + 1));
        })
    }

    function voteRuleInit() {
        $('input[name="voteRule"]').change(function () {
            if ($(this).val() === 'multi') {
                $('input[name="maxSelectNum"]').prop('disabled', false);
            } else {
                $('input[name="maxSelectNum"]').prop('disabled', true);
            }
        })
    }
    
    function renderEditViewData() {
        if (!voteId || mode === 'create') return false;
        // var data = JSON.parse('{$DATA|json_encode}');
        var data = {$DATA | json_encode};
        var optionNum = data.option.length;

        console.log(data);

        $('#voteTitle').text(data.votename + '-' + (mode === 'edit' ? '编辑' : '详情'));
        $('input[name="voteName"]').val(data.votename);
        $('input[name="voteDescription"]').val(data.description);
        $('input[name="startTime"]').val(data.startdatetime);
        $('input[name="stopTime"]').val(data.stopdatetime);
        
        if (data.votemaxballot > 1) {
            $('input[name="voteRule"]').eq(1).prop('checked', true);
            $('input[name="maxSelectNum"]').prop('disabled', false).val(data.votemaxballot);
        }

        //选项内容渲染
        for (var i = 1; i <= optionNum; i ++) {
            addOption();
            $('input[name="optionName_' + i + '"]').val(data.option[i-1].optionname);
            $('input[name="optionDescription_' + i + '"]').val(data.option[i-1].description);
            if (data.option[i-1].maxusers > 0) {
                $('input[name="optionBallot_' + i + '"]').eq(1).prop('checked', true);
                $('input[name="maxBallot_' + i + '"]').prop('disabled', false).val(data.option[i-1].maxusers);
            }
            if (data.option[i-1].optionimg) {
                fillImg($('#thelist_' + i), 'fileId_' + i, i, '__uploads__/' + data.option[i-1].optionimg);
                $('input[name="uploadImg_' + i + '"]').val(data.option[i-1].optionimg);
                $('#picker_' + i).hide();
            }
        }

        //提交内容渲染
        if (data.submitfield) {
            var subConObj = JSON.parse(data.submitfield);
            var subConNum = subConObj.length;
            if (subConNum) {
                for (var j = 1; j <= subConNum; j ++) {
                    addSubCon();
                    $('input[name="fieldLabel_' + j + '"]').val(subConObj[j-1].name);
                    if (subConObj[j-1].required === '0') {
                        $('input[name="isRequired_' + j + '"]').eq(1).prop('checked', true);
                    }
                    $('select[name="fieldType_' + j + '"]').val(subConObj[j-1].type).change();
                    $('textarea[name="pickVal_' + j + '"]').val(subConObj[j-1].options.replace(new RegExp( ',' , "g" ), '\n'));
                }
            }
        }

        //底部按钮处理
        if (data.status === 'progressing') {
            $('#saveBtn').remove();
            $('#publishBtn').text('保存修改');
        }
        if (mode === 'detail') {
            noModifyMode();
        }
    }
    
    function noModifyMode() {
        $('input,textarea,select').prop('readonly', true).prop('disabled', true);
        $('#addOptionBtn,#addSubConBtn,div[id^=picker_]').hide();
        $('.remove-option-item,.removeImgClass').hide();

        $('#saveBtn').remove();
        $('#publishBtn').remove();
    }

</script>
{/block}