{extend name="../application/admin/view/common/base.html" /}

{block name="lead_css"}
{load file="__admin__/js/modernizr.min.js"}
{load file="__admin__/plugins/jquery-multi-select/multi-select.css"}
{/block}

{block name="content"}
<style>

</style>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            <button id="addVoteBtn" class="btn btn-primary waves-effect waves-light">新增投票活动 <i class="fa fa-plus"></i></button>
                        </div>

                        <div class="panel-body">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table" id="template-list-table">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>名称</th>
                                                <th>创建时间</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        2015 © Moltran.
    </footer>
</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
{/block}

{block name="lead_js"}
{load file="__admin__/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"}
{load file="__admin__/plugins/jquery-datatables-editable/jquery.dataTables.js"}
{load file="__admin__/plugins/datatables/dataTables.bootstrap.js"}
{load file="__admin__/pages/datatables.editable.init.js"}
{load file="__admin__/plugins/jquery-multi-select/jquery.multi-select.js"}

<script>
    $(function () {
        $('#addVoteBtn').on('click', function () {
            window.location.href = '/admin/vote/publishView';
        })
    })

</script>
{/block}