{extend name="../application/admin/view/common/base.html" /}

{block name="lead_css"}
{load file="__admin__/js/modernizr.min.js"}
{load file="__admin__/plugins/jquery-multi-select/multi-select.css"}
{/block}

{block name="content"}
<style>
    #signListTable td {
        line-height: 34px;
    }
</style>

<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left page-title">报名列表</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <!-- 配置字段模态框 -->
                            <div id="configInfo" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="configInfoModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="configInfoModalLabel"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="#" class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="control-label col-md-3">选择字段</label>
                                                    <div class="col-md-9">
                                                        <select multiple="multiple" class="multi-select" id="list_fields" name="list_fields">

                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                                            <button type="button" id="saveFieldsConfig" class="btn btn-primary waves-effect waves-light">保存</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>

                            <!-- 显示详情模态框 -->
                            <div id="signDetailInfo" class="modal fade in bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="signDetailInfoModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="signDetailInfoModalLabel"></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div id="signDetailContent" style="width: 820px">

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>

                            <!-- 发送通知模态框 -->
                            <div id="sendMessageInfo" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="sendMessageModalLabel">发送通知</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="#" class="form-horizontal">
                                                <div class="form-group">
                                                    <textarea id="msgContentText" class="form-control" rows="5"></textarea>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">取消</button>
                                            <button type="button" id="sendMessageBtn" class="btn btn-primary waves-effect waves-light">发送</button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-2">
                                        <select onchange="changeTemplate()" id="TemplateSel" class="form-control">
                                            {volist name="TEMPLATELIST" id="vo"}
                                            <option value="{$key}">{$vo}</option>
                                            {/volist}
                                        </select>
                                    </div>
                                    <div id="approveStatusTab" class="portfolioFilter" style="float: left;margin-left: 10px">
                                        <a data-status="waiting" class="current" style="line-height: 34px;">待审核（<span></span>）</a>
                                        <a data-status="passed" class="" style="line-height: 34px;">已通过（<span></span>）</a>
                                        <a data-status="refused" class="" style="line-height: 34px;">已拒绝（<span></span>）</a>
                                    </div>
                                    <button onclick="showFieldConfig()" style="float:right;" class="btn btn-icon waves-effect waves-light btn-default m-b-5"> <i class="fa fa-wrench"></i> </button>
                                    <div class="clearfix"></div>
                                    <div class="m-t-10" id="multiSendMessage" style="display: none;">
                                        <button onclick="showSendMessage()" type="button" class="btn btn-default btn-custom waves-effect m-b-5">批量发送通知</button>
                                    </div>
                                    <div class="m-t-10">
                                        <table class="table table-bordered table-striped" id="signListTable">

                                        </table>
                                    </div>
                                </div>
                            </div>

                            <!-- paginate start -->
                            <div class="panel-body text-center" id="PageTab">
                            </div>
                            <!-- paginate end -->
                        </div>
                    </div>
                </div>

            </div><!-- row -->

        </div> <!-- container -->

    </div> <!-- content -->

</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
{/block}

{block name="lead_js"}
{load file="__admin__/plugins/magnific-popup/dist/jquery.magnific-popup.min.js"}
{load file="__admin__/plugins/jquery-datatables-editable/jquery.dataTables.js"}
{load file="__admin__/plugins/datatables/dataTables.bootstrap.js"}
{load file="__admin__/pages/datatables.editable.init.js"}
{load file="__admin__/plugins/jquery-multi-select/jquery.multi-select.js"}

<script>
    var templateId = $('#TemplateSel').val();
    var approveStatus = 'waiting';
    var listPage = 1;

    $(function () {
        renderList();

        $('#approveStatusTab a').on('click', function () {
            approveStatus = $(this).attr('data-status');
            listPage = 1;
            $('#approveStatusTab a').removeClass('current');
            $(this).addClass('current');
            renderList();
        });

        //复选框绑定事件
        $(document).on('click', '#signListTable tr td input[type="checkbox"]', function () {
            var checkAllStatus = true;
            $('#signListTable tr td input[type="checkbox"]').each(function () {
                if (!$(this).prop('checked')) {
                    checkAllStatus = false;
                    return false;
                }
            });
            $('#selectAllBox').prop('checked', checkAllStatus);
        });
        
        //全选事件
        $(document).on('click', '#selectAllBox', function () {
            var checkStatus = $(this).prop('checked');

            $('#signListTable tr td input[type="checkbox"]').each(function () {
                $(this).prop('checked',checkStatus);
            });
        });

        //发送通知事件绑定
        $('#sendMessageBtn').on('click',function () {
            sendMessage();
        })
    })

    //显示列表字段设置模态框
    function showFieldConfig() {
        $.ajax({
            type: 'POST',
            url: 'getSignListConfigInfo',
            data: {id: templateId},
            dataType: 'json',
            success: function (data) {
                var optionHtml = '',
                    options = data.data;
                for (var i = 0; i < options.length; i ++) {
                    var select = options[i].select ? 'selected' : '';
                    optionHtml += '<option ' + select + ' value="' + options[i].val + '">';
                    optionHtml += options[i].text;
                    optionHtml += '</option>';
                }
                $('#list_fields').html(optionHtml);
                $('#list_fields').multiSelect();
                $('#configInfoModalLabel').text(data.name + '-列表字段配置');
                $('#configInfo').modal('show');
            }
        })
    }

    //分页跳转
    function pageTo(page) {
        listPage = page;
        renderList();
    }

    $('#saveFieldsConfig').on('click', function () {
        var fields = $('#list_fields').val();

        $.ajax({
            type: 'POST',
            url: 'saveListFields',
            data: {fields: fields, id: templateId},
            dataType: 'json',
            success: function (data) {
                if (data.code === 'SUCCESS') {
                    $('#configInfo').modal('hide');
                    renderList();
                } else {
                    swal(data.msg);
                }
            }
        })
    });

    //绘制列表
    function renderList() {
        $.ajax({
            type: 'POST',
            url: 'getSignList',
            data: {id: templateId, status: approveStatus, page: listPage},
            dataType: 'json',
            success: function (res) {
                var data = res.data;
                var table = '';
                table += '<tr>';
                if (approveStatus !== 'waiting') {
                    table += '<th><input type="checkbox" style="width: 16px" class="checkbox form-control" value="1" id="selectAllBox"></th>';
                }
                for (key in data.headers) {
                    table += '<th>' + data.headers[key] + '</th>';
                }
                if (approveStatus === 'waiting') {
                    table += '<th width="210px">操作</th>';
                } else {
                    table += '<th width="140px">操作</th>';
                }
                table += '</tr>';
                for (var i = 0; i < data.table.length; i ++) {
                    var signId = data.table[i]['id'];
                    table += '<tr data-id="' + signId + '">';
                    if (approveStatus !== 'waiting') {
                        table += '<td><input type="checkbox" style="width: 16px" class="checkbox form-control" value="1" id="sign_' + signId + '"></td>';
                    }
                    for (key2 in data.headers) {
                        table += '<td>' + data.table[i][key2] + '</td>';
                    }

                    table += '<td>';
                    table += '<button onclick="showDetail(this)" type="button" class="btn btn-info waves-effect waves-light m-b-5">详情</button>';
                    if (approveStatus === 'waiting') {
                        table += '<button onclick="approveSign(this,\'passed\')" type="button" class="m-l-10 btn btn-primary waves-effect waves-light m-b-5">通过</button>';
                        table += '<button onclick="approveSign(this,\'refused\')" type="button" class="m-l-10 btn btn-danger waves-effect waves-light m-b-5">拒绝</button>';
                    } else {
                        table += '<button onclick="approveSign(this,\'waiting\')" type="button" class="m-l-10 btn btn-success waves-effect waves-light m-b-5">移出</button>';
                    }
                    table += '</td>';

                    table += '</tr>';
                }

                $('#signListTable').html(table);
                $('#PageTab').html(data.page);

                if (approveStatus === 'waiting') {
                    $('#multiSendMessage').hide();
                } else {
                    $('#multiSendMessage').show();
                }
                
                changeStatusNum(data.num);
            }
        })
    }

    //修改不同审批状态对应的数量
    function changeStatusNum(data) {
        $('#approveStatusTab a').each(function () {
            var data_status = $(this).attr('data-status');
            var status_num = 0;
            if (data[data_status] > 0) {
                status_num = data[data_status];
            }
            $(this).find('span').text(status_num);
        })
    }

    //切换模板
    function changeTemplate() {
        templateId = $('#TemplateSel').val();
        listPage = 1;
        renderList();
    }

    //审核
    function approveSign(obj, approveResult) {
        var id = $(obj).parent().parent().attr('data-id');

        $.ajax({
            type: 'POST',
            url: 'approveSign',
            data: {id: id, approveRes: approveResult, templateId: templateId},
            dataType: 'json',
            success: function (data) {
                if (data.code === 'SUCCESS') {
                    changeStatusNum(data.num);
                    $(obj).parent().parent().remove();
                }
            }
        })
    }

    //查看详情
    function showDetail(obj) {
        var id = $(obj).parent().parent().attr('data-id');
        
        $.ajax({
            type: 'POST',
            url: 'showSignDetail',
            data: {id: id},
            dataType: 'json',
            success: function (data) {
                if (data.code === 'SUCCESS') {
                    $('#signDetailContent').html(data.html);
                    $('#signDetailInfoModalLabel').text(data.title + '报名内容详情');
                    $('#signDetailInfo').modal('show');
                }
            }
        })
    }

    //获取已勾选的id
    function getCheckedIds() {
        var ids = [];
        $('#signListTable tr td input[type="checkbox"]').each(function () {
            if ($(this).prop('checked')) {
                ids.push($(this).parent().parent().attr('data-id'));
            }
        });
        return ids;
    }

    function showSendMessage() {
        $('#sendMessageInfo').modal('show');
    }

    function sendMessage() {
        var ids = getCheckedIds();
        var content = $('#msgContentText').val();

        $.ajax({
            type: 'POST',
            url: 'sendMessage',
            data: {'ids': ids.join(','), 'content': content},
            dataType: 'json',
            success: function (data) {
                if (data.code === 'SUCCESS') {
                    $('#sendMessageInfo').modal('hide');
                    renderList();
                } else {
                    swal(data.msg);
                }
            }
        })
    }

</script>
{/block}