{extend name="../application/admin/view/common/base.html"}

{block name="lead_css"}
{load file="__admin__/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.css"}
{load file="__admin__/plugins/summernote/dist/summernote.css"}
{/block}

{block name="content"}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="pull-left page-title">{$TEMPLATENAME}编辑</h4>
                </div>
            </div>
            <!-- end row -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <input type="hidden" name="templateId" id="templateId" value="{$TEMPLATEID}">
                        <div class="panel-body">
                            <div id="signtemplate" class="summernote">{$TEMPLATEHTML}</div>
                        </div>
                        <div class="text-center">
                            <button id="saveTemplate" type="button" class="btn btn-info waves-effect waves-light m-b-5">保存</button>
                        </div>
                    </div>
                </div>
            </div> <!-- End row -->

        </div> <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        2015 © Moltran.
    </footer>

</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
{/block}

{block name="lead_js"}
{load file="__admin__/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"}
{load file="__admin__/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"}

<!--form validation init-->
{load file="__admin__/plugins/summernote/dist/summernote.js"}
{load file="__admin__/plugins/summernote/dist/lang/summernote-zh-CN.js"}

<script>
    
    jQuery(document).ready(function(){
        $('.wysihtml5').wysihtml5();

        $('.summernote').summernote({
            lang: 'zh-CN',
            height: 700,                 // set editor height
            minHeight: null,             // set minimum height of editor
            maxHeight: null,             // set maximum height of editor
            focus: true                 // set focus to editable area after initializing summernote
        });

        // $('.summernote').summernote({
        //     focus: true                 // set focus to editable area after initializing summernote
        // });
    });

    $(function() {
        (function($) {
            $.fn.extend({
                insertContent : function(myValue, t) {
                    var $t = $(this)[0];
                    if (document.selection) { // ie
                        this.focus();
                        var sel = document.selection.createRange();
                        sel.text = myValue;
                        this.focus();
                        sel.moveStart('character', -l);
                        var wee = sel.text.length;
                        if (arguments.length == 2) {
                            var l = $t.value.length;
                            sel.moveEnd("character", wee + t);
                            t <= 0 ? sel.moveStart("character", wee - 2 * t
                                - myValue.length) : sel.moveStart(
                                "character", wee - t - myValue.length);
                            sel.select();
                        }
                    } else if ($t.selectionStart
                        || $t.selectionStart == '0') {
                        var startPos = $t.selectionStart;
                        var endPos = $t.selectionEnd;
                        var scrollTop = $t.scrollTop;
                        $t.value = $t.value.substring(0, startPos)
                            + myValue
                            + $t.value.substring(endPos,
                                $t.value.length);
                        this.focus();
                        $t.selectionStart = startPos + myValue.length;
                        $t.selectionEnd = startPos + myValue.length;
                        $t.scrollTop = scrollTop;
                        if (arguments.length == 2) {
                            $t.setSelectionRange(startPos - t,
                                $t.selectionEnd + t);
                            this.focus();
                        }
                    } else {
                        this.value += myValue;
                        this.focus();
                    }
                }
            })
        })(jQuery);
    });


    
    $('#saveTemplate').on('click', function () {
            var markup = $('.summernote').summernote('code');
        $.ajax({
            type: "POST",
            url: '/admin/SignUp/saveTemplate',
            data: { signcontent: markup, id: $('#templateId').val()},
            dataType: "json",
            success: function(data){
                if (data.code === 'SUCCESS') {
                    swal(data.msg);
                }
            }
        });
    })
</script>
{/block}