{extend name="../application/home/view/common/base.html"}

{block name="title_content"}
紫薇幼儿园-填写报名表
{/block}

{block name="lead_css"}
{load file="__admin__/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"}
{/block}

{block name="container"}
<div class="row-fluid" id="main">
    <div class="span8 offset2">
        <form id="signForm" class="form-horizontal ">
            <input type="hidden" name="id" value="{$SIGNID}">

            {$TEMPLATEHTML}

        </form>
        <div class="text-center">
            <button id="submitForm" class="btn btn-info waves-effect waves-light m-l-10">提交</button>
        </div>
    </div>
</div>
{/block}

{block name="lead_js"}
<script>
    $(function () {
        editValues({$SIGNID});

        $('#submitForm').on('click', function () {
            $.ajax({
                type: 'POST',
                url: '/home/SignUp/editSave',
                data: form_serialize(document.getElementById('signForm')),
                dateType: 'json',
                success: function (data) {
                    console.log(data);
                }
            });
        })
    });

    function editValues(id) {
        $.ajax({
            type: 'POST',
            url: 'getEditValue',
            data: {id: id},
            dataType: 'json',
            success: function (res) {
                var data = res.data;
                for (key in data) {
                    $('#signForm input[name="' + key + '"]').val(data[key]);
                }
            }
        })
    }

</script>
{/block}